#full-defense-menu {
  .form-fields {
    display: grid;
    justify-content: left;
    grid-template-columns: repeat( auto-fit, 130px );
    gap: 5px;
    .item {
      //display: inline-block;
      display: flex;
      align-items: center;
      margin: 0 auto 0 0;
      span {
        flex: 1 1 auto;
      }
    }
  }
}